

{% extends 'base.html' %}

{% load bootstrap3 %}
{% load widget_tweaks %}
{% block content %}




  <form method="get">
    <div class="well">
      <h4 style="margin-top: 0">What to Eat</h4>
      <div class="row">
        <div class="form-group col-sm-4 col-md-2">
           {{ filter.form.restaurant.label_tag }}
          {% render_field filter.form.restaurant class="form-control" %}
      </div>

        <div class="form-group col-sm-4 col-md-2">
          {{ filter.form.calories.label_tag }}
          {% render_field filter.form.calories class="form-control" %}
        </div>


        <div class="form-group col-sm-4 col-md-2">
          {{ filter.form.protein.label_tag }}
          {% render_field filter.form.protein class="form-control" %}
        </div>

        <div class="form-group col-sm-3 col-md-2">
          {{ filter.form.carbohydrates.label_tag }}
          {% render_field filter.form.carbohydrates class="form-control" %}
        </div>
        <div class="form-group col-sm-3 col-md-2">
          {{ filter.form.total_fat.label_tag }}
          {% render_field filter.form.total_fat class="form-control" %}
        </div>
     	<button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-search"></span> Search
      </button>
    </div>
  </form>
  <ul>
</li>




		  <table class="table table-bordered">
		    <thead>
		      <tr>
		        <th>Entree Name</th>
		        <th>Calories</th>
		        <th>Protein (g)</th>
		        <th>Carbs (g)</th>
		        <th>Total Fat (g)</th>
		        <th>Restaurant</th>
		      </tr>
		    </thead>
		    <tbody>
		      {% for entree in filter.qs %}
		        <tr>

		          <td>{{ entree.name }}</td>
		          <td>{{ entree.calories }}</td>
		          <td>{{ entree.protein }}</td>
		          <td>{{ entree.carbohydrates }}</td>
		          <td>{{ entree.total_fat }}</td>
		          <td>{{ entree.restaurant }}</td>

		          <td>
		  
		    
		            {% endfor %}
		          </td>
		        </tr>
		        <tr>
		        </tr>

		    </tbody>
		  </table>


		  </script>

 {% endblock %}
