<!DOCTYPE html>

<meta charset="utf-8">
<html lang="en">

{% extends 'base.html' %}

{% load bootstrap3 %}
{% load widget_tweaks %}
{% block content %}

<html>
<body>
	<head>

		<style media="screen" type="text/css">

				#chart div {
					  display: inline-block;
					  background: #4285F4;
					  width: 20px;
					  margin-right: 3px;
					}

		</style>
	</head>
		  <form method="get">
			<div class="well">
			  <h4 style="margin-top: 0">What to Eat</h4>
			  <div class="row">
				<div class="form-group col-sm-4 col-md-2">
				   {{ filter.form.restaurant.label_tag }}
				  {% render_field filter.form.restaurant class="form-control" %}
			  </div>

				<div class="form-group col-sm-4 col-md-2">
				  {{ filter.form.calories.label_tag }}
				  {% render_field filter.form.calories class="form-control" %}
				</div>


				<div class="form-group col-sm-4 col-md-2">
				  {{ filter.form.protein.label_tag }}
				  {% render_field filter.form.protein class="form-control" %}
				</div>

				<div class="form-group col-sm-3 col-md-2">
				  {{ filter.form.carbohydrates.label_tag }}
				  {% render_field filter.form.carbohydrates class="form-control" %}
				</div>
				<div class="form-group col-sm-3 col-md-2">
				  {{ filter.form.total_fat.label_tag }}
				  {% render_field filter.form.total_fat class="form-control" %}
				</div>
				<button type="submit" class="btn btn-primary">
				<span class="glyphicon glyphicon-search"></span> Search
			  </button>
			</div>
		  </form>
	</div>
</form>
</body>





		  <table class="table">
			<thead>
			  <tr>
				<th>Entree Name</th>
				<th>Calories</th>
				<th>Protein (g)</th>
				<th>Carbs (g)</th>
				<th>Total Fat (g)</th>
				<th>Restaurant</th>
				<div class="form-check">
		 

			  </tr>
			</thead>
			<tbody>
			  {% for entree in filter.qs %}
	

				<tr id=a-"{{entree.id}}" class="filter">




				  <td>{{ entree.name }}</td>
				  <td>{{ entree.calories }}</td>
				  <td>{{ entree.protein }}</td>
				  <td>{{ entree.carbohydrates }}</td>
				  <td>{{ entree.total_fat }}</td>
				  <td>{{ entree.restaurant }}</td>

				  <td>
					

					 <div id="option">
				<button id="a-{{ entree.id }}"
				type="button" name= "button">
				click here for graph
				</button>




	</div>
</div>

			
					{% endfor %}
				  </td>
				</tr>
				<tr>
				</tr>

			</tbody>
		  </table>

		  <div class="container">

			<h3> See nutritional info visually here </h3>
			<svg></svg>
			<div id="chart"></div>



			<script src="http://d3js.org/d3.v3.min.js"></script>
			<script src="https://d3js.org/d3-selection.v1.min.js"></script>

				


			<script>



			// $("button").click(function() {
			// var buttonid = this.id 
			// console.log(buttonid)
			// // above uses jQuery to display the id of button clicked
		
			// //select data 
			$('button').click(function() {
			// get td grandparent of clicked button
			var tdElem = this.parentNode.parentNode;
			console.log(tdElem)
			// d3 select the td element
			var chartdata = d3.select(tdElem);
			console.log(chartdata)



});

	


		

				


			//if button id === tr id 
			// selectAll tr data 
				// d3.select('tr[tr-id]')
			 // forEach(function(d, i) {
	//         world.forEach(function(e, j) {
	//             if (d.id === e.id) {
	//                 e.name = d.name
	//             }
	//         })
	//     })
			 
					// if checkbox is checked
					// var data = d3.selectAll("tr").selectAll("td");

					// should return graph? lol 


					// var holder = d3.select("chart")
					//       .append("svg")
					//       .attr("width", width)    
					//       .attr("height", height); 

// 					d3.selectAll(".results td:nth-child(4n+2)")
// 						.each(function() { this.__data__ = d3.select(this).text(); })
// 						  .style("background-color", function(d) { 
// 						                        console.log( d );
// 				                            //change style depending on d, but its always undefined
//                             //I can access element via this, but shouldn't d have something ?
// } );



				</script>	
			
		  </div>
</html>
 {% endblock %}
