
		  <table class="table">
			<thead>
			  <tr>
				<th>Entree Name</th>
				<th>Calories</th>
				<th>Protein (g)</th>
				<th>Carbs (g)</th>
				<th>Total Fat (g)</th>
				<th>Restaurant</th>
				<div class="form-check">
		 

			  </tr>
			</thead>
			<tbody>
			  
	

				<tr id="1">




				  <td>Asiago Ranch Club w/ Homestyle Chicken</td>
				  <td>690.0</td>
				  <td>35.0</td>
				  <td>56.0</td>
				  <td>36.0</td>
				  <td>wendys</td>

				  <td>
					

					 <div id="option">
				<button id="1"
				type="button" name= "button">
				click here for graph
				</button>

